{
    "annotations": {
        "list": [
            {
                "builtIn": 1,
                "datasource": {
                    "type": "datasource",
                    "uid": "grafana"
                },
                "enable": true,
                "hide": true,
                "iconColor": "rgba(0, 211, 255, 1)",
                "name": "Annotations & Alerts",
                "target": {
                    "limit": 100,
                    "matchAny": false,
                    "tags": [],
                    "type": "dashboard"
                },
                "type": "dashboard"
            }
        ]
    },
    "description": "Availability, logging, background task throughput and policy evaluation timings for the charmed Authentik Worker.",
    "editable": true,
    "fiscalYearStartMonth": 0,
    "graphTooltip": 0,
    "id": null,
    "links": [
        {
            "asDropdown": false,
            "icon": "external link",
            "includeVars": false,
            "keepTime": false,
            "tags": [],
            "targetBlank": true,
            "title": "Authentik Worker Operator",
            "tooltip": "",
            "type": "link",
            "url": "https://github.com/canonical/authentik-worker-operator"
        }
    ],
    "liveNow": false,
    "panels": [
        {
            "collapsed": false,
            "gridPos": {
                "h": 1,
                "w": 24,
                "x": 0,
                "y": 0
            },
            "id": 1,
            "panels": [],
            "title": "Availability",
            "type": "row"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "Fraction of Authentik Worker units that Prometheus can currently scrape.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "thresholds"
                    },
                    "decimals": 1,
                    "mappings": [],
                    "max": 1,
                    "min": 0,
                    "noValue": "0",
                    "thresholds": {
                        "mode": "percentage",
                        "steps": [
                            {
                                "color": "rgba(222, 3, 3, 0.9)",
                                "value": null
                            },
                            {
                                "color": "orange",
                                "value": 20
                            },
                            {
                                "color": "yellow",
                                "value": 50
                            },
                            {
                                "color": "green",
                                "value": 80
                            }
                        ]
                    },
                    "unit": "percentunit"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 12,
                "x": 0,
                "y": 1
            },
            "id": 2,
            "maxDataPoints": 100,
            "options": {
                "orientation": "auto",
                "reduceOptions": {
                    "calcs": [
                        "lastNotNull"
                    ],
                    "fields": "",
                    "values": false
                },
                "showThresholdLabels": false,
                "showThresholdMarkers": true
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "sum(up{juju_charm=\"authentik-worker\"}) / count(up{juju_charm=\"authentik-worker\"})",
                    "legendFormat": "__auto",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Unit Availability",
            "type": "gauge"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "The Authentik Worker units that are currently up.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "mappings": [],
                    "noValue": "0",
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "short"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 12,
                "x": 12,
                "y": 1
            },
            "id": 3,
            "maxDataPoints": 100,
            "options": {
                "colorMode": "value",
                "graphMode": "none",
                "justifyMode": "auto",
                "orientation": "horizontal",
                "reduceOptions": {
                    "calcs": [
                        "lastNotNull"
                    ],
                    "fields": "",
                    "values": false
                },
                "text": {},
                "textMode": "auto"
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "group by(juju_unit) (up{juju_charm=\"authentik-worker\"})",
                    "legendFormat": "{{juju_unit}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Available Units",
            "type": "stat"
        },
        {
            "collapsed": false,
            "gridPos": {
                "h": 1,
                "w": 24,
                "x": 0,
                "y": 9
            },
            "id": 4,
            "panels": [],
            "title": "Logging",
            "type": "row"
        },
        {
            "datasource": {
                "type": "loki",
                "uid": "${lokids}"
            },
            "description": "Rate of error, fatal and critical log entries emitted by the Authentik Worker, by level.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "custom": {
                        "axisCenteredZero": false,
                        "axisColorMode": "text",
                        "axisLabel": "",
                        "axisPlacement": "auto",
                        "barAlignment": 0,
                        "drawStyle": "line",
                        "fillOpacity": 5,
                        "gradientMode": "none",
                        "hideFrom": {
                            "legend": false,
                            "tooltip": false,
                            "viz": false
                        },
                        "lineInterpolation": "linear",
                        "lineWidth": 2,
                        "pointSize": 5,
                        "scaleDistribution": {
                            "type": "linear"
                        },
                        "showPoints": "never",
                        "spanNulls": false,
                        "stacking": {
                            "group": "A",
                            "mode": "none"
                        },
                        "thresholdsStyle": {
                            "mode": "off"
                        }
                    },
                    "mappings": [],
                    "noValue": "0",
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "short"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 24,
                "x": 0,
                "y": 10
            },
            "id": 5,
            "options": {
                "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                },
                "tooltip": {
                    "mode": "single",
                    "sort": "none"
                }
            },
            "targets": [
                {
                    "datasource": {
                        "type": "loki",
                        "uid": "${lokids}"
                    },
                    "editorMode": "code",
                    "expr": "sum by(level) (count_over_time({juju_charm=\"authentik-worker\", juju_unit=~\"$juju_unit\"} | json | __error__ != \"JSONParserErr\" | level =~ `error|fatal|critical` [5m]))",
                    "legendFormat": "{{level}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "High Severity Log Entries",
            "type": "timeseries"
        },
        {
            "collapsed": false,
            "gridPos": {
                "h": 1,
                "w": 24,
                "x": 0,
                "y": 18
            },
            "id": 6,
            "panels": [],
            "title": "Background Tasks",
            "type": "row"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "Background tasks waiting to be picked up, by actor, deduplicated across worker processes.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "custom": {
                        "axisCenteredZero": false,
                        "axisColorMode": "text",
                        "axisLabel": "",
                        "axisPlacement": "auto",
                        "barAlignment": 0,
                        "drawStyle": "line",
                        "fillOpacity": 5,
                        "gradientMode": "none",
                        "hideFrom": {
                            "legend": false,
                            "tooltip": false,
                            "viz": false
                        },
                        "lineInterpolation": "linear",
                        "lineWidth": 2,
                        "pointSize": 5,
                        "scaleDistribution": {
                            "type": "linear"
                        },
                        "showPoints": "never",
                        "spanNulls": false,
                        "stacking": {
                            "group": "A",
                            "mode": "none"
                        },
                        "thresholdsStyle": {
                            "mode": "off"
                        }
                    },
                    "mappings": [],
                    "noValue": "0",
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "short"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 8,
                "x": 0,
                "y": 19
            },
            "id": 7,
            "options": {
                "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                },
                "tooltip": {
                    "mode": "single",
                    "sort": "none"
                }
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "sum by(actor_name) (max by(queue_name, actor_name) (authentik_tasks_queued{juju_charm=\"authentik-worker\",juju_unit=~\"$juju_unit\"}))",
                    "legendFormat": "{{actor_name}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Queued Tasks by Actor",
            "type": "timeseries"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "Rate at which the worker completes background tasks, by actor.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "custom": {
                        "axisCenteredZero": false,
                        "axisColorMode": "text",
                        "axisLabel": "",
                        "axisPlacement": "auto",
                        "barAlignment": 0,
                        "drawStyle": "line",
                        "fillOpacity": 5,
                        "gradientMode": "none",
                        "hideFrom": {
                            "legend": false,
                            "tooltip": false,
                            "viz": false
                        },
                        "lineInterpolation": "linear",
                        "lineWidth": 2,
                        "pointSize": 5,
                        "scaleDistribution": {
                            "type": "linear"
                        },
                        "showPoints": "never",
                        "spanNulls": false,
                        "stacking": {
                            "group": "A",
                            "mode": "none"
                        },
                        "thresholdsStyle": {
                            "mode": "off"
                        }
                    },
                    "mappings": [],
                    "noValue": "0",
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "ops"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 8,
                "x": 8,
                "y": 19
            },
            "id": 8,
            "options": {
                "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                },
                "tooltip": {
                    "mode": "single",
                    "sort": "none"
                }
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "sum by(actor_name) (rate(authentik_tasks_total{juju_charm=\"authentik-worker\",juju_unit=~\"$juju_unit\"}[5m]))",
                    "legendFormat": "{{actor_name}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Task Throughput by Actor",
            "type": "timeseries"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "Task workers registered against the database, by version.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "mappings": [],
                    "noValue": "0",
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "short"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 8,
                "x": 16,
                "y": 19
            },
            "id": 9,
            "maxDataPoints": 100,
            "options": {
                "colorMode": "value",
                "graphMode": "none",
                "justifyMode": "auto",
                "orientation": "horizontal",
                "reduceOptions": {
                    "calcs": [
                        "lastNotNull"
                    ],
                    "fields": "",
                    "values": false
                },
                "text": {},
                "textMode": "auto"
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "max by(version, version_matched) (authentik_tasks_workers{juju_charm=\"authentik-worker\"})",
                    "legendFormat": "{{version}} (matched: {{version_matched}})",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Connected Task Workers",
            "type": "stat"
        },
        {
            "collapsed": false,
            "gridPos": {
                "h": 1,
                "w": 24,
                "x": 0,
                "y": 27
            },
            "id": 10,
            "panels": [],
            "title": "Task Performance",
            "type": "row"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "90th percentile background task execution time, by actor.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "custom": {
                        "axisCenteredZero": false,
                        "axisColorMode": "text",
                        "axisLabel": "",
                        "axisPlacement": "auto",
                        "barAlignment": 0,
                        "drawStyle": "line",
                        "fillOpacity": 5,
                        "gradientMode": "none",
                        "hideFrom": {
                            "legend": false,
                            "tooltip": false,
                            "viz": false
                        },
                        "lineInterpolation": "linear",
                        "lineWidth": 2,
                        "pointSize": 5,
                        "scaleDistribution": {
                            "type": "linear"
                        },
                        "showPoints": "never",
                        "spanNulls": false,
                        "stacking": {
                            "group": "A",
                            "mode": "none"
                        },
                        "thresholdsStyle": {
                            "mode": "off"
                        }
                    },
                    "mappings": [],
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "ms"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 12,
                "x": 0,
                "y": 28
            },
            "id": 11,
            "options": {
                "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                },
                "tooltip": {
                    "mode": "single",
                    "sort": "none"
                }
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "histogram_quantile(0.9, sum by(le, actor_name) (rate(authentik_tasks_duration_milliseconds_bucket{juju_charm=\"authentik-worker\",juju_unit=~\"$juju_unit\"}[5m])))",
                    "legendFormat": "{{actor_name}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Task Duration p90 by Actor",
            "type": "timeseries"
        },
        {
            "datasource": {
                "type": "prometheus",
                "uid": "${prometheusds}"
            },
            "description": "90th percentile execution time of an individual policy binding, by the type of object the binding targets.",
            "fieldConfig": {
                "defaults": {
                    "color": {
                        "mode": "palette-classic"
                    },
                    "custom": {
                        "axisCenteredZero": false,
                        "axisColorMode": "text",
                        "axisLabel": "",
                        "axisPlacement": "auto",
                        "barAlignment": 0,
                        "drawStyle": "line",
                        "fillOpacity": 5,
                        "gradientMode": "none",
                        "hideFrom": {
                            "legend": false,
                            "tooltip": false,
                            "viz": false
                        },
                        "lineInterpolation": "linear",
                        "lineWidth": 2,
                        "pointSize": 5,
                        "scaleDistribution": {
                            "type": "linear"
                        },
                        "showPoints": "never",
                        "spanNulls": false,
                        "stacking": {
                            "group": "A",
                            "mode": "none"
                        },
                        "thresholdsStyle": {
                            "mode": "off"
                        }
                    },
                    "mappings": [],
                    "thresholds": {
                        "mode": "absolute",
                        "steps": [
                            {
                                "color": "green",
                                "value": null
                            }
                        ]
                    },
                    "unit": "s"
                },
                "overrides": []
            },
            "gridPos": {
                "h": 8,
                "w": 12,
                "x": 12,
                "y": 28
            },
            "id": 12,
            "options": {
                "legend": {
                    "calcs": [],
                    "displayMode": "list",
                    "placement": "bottom",
                    "showLegend": true
                },
                "tooltip": {
                    "mode": "single",
                    "sort": "none"
                }
            },
            "targets": [
                {
                    "datasource": {
                        "type": "prometheus",
                        "uid": "${prometheusds}"
                    },
                    "editorMode": "code",
                    "expr": "histogram_quantile(0.9, sum by(le, binding_target_type) (rate(authentik_policies_execution_time_bucket{juju_charm=\"authentik-worker\",juju_unit=~\"$juju_unit\"}[5m])))",
                    "legendFormat": "{{binding_target_type}}",
                    "range": true,
                    "refId": "A"
                }
            ],
            "title": "Policy Execution Duration p90",
            "type": "timeseries"
        }
    ],
    "revision": "1.0",
    "schemaVersion": 37,
    "style": "dark",
    "tags": [
        "prometheus",
        "grafana",
        "loki",
        "identity platform",
        "authentik"
    ],
    "templating": {
        "list": [
            {
                "allValue": ".*",
                "current": {
                    "selected": false,
                    "text": "All",
                    "value": "$__all"
                },
                "datasource": {
                    "uid": "${prometheusds}"
                },
                "definition": "label_values(up{juju_model=~\"$juju_model\",juju_model_uuid=~\"$juju_model_uuid\",juju_application=~\"$juju_application\"},juju_unit)",
                "hide": 0,
                "includeAll": true,
                "label": "Juju unit",
                "multi": true,
                "name": "juju_unit",
                "options": [],
                "query": {
                    "query": "label_values(up{juju_model=~\"$juju_model\",juju_model_uuid=~\"$juju_model_uuid\",juju_application=~\"$juju_application\"},juju_unit)",
                    "refId": "StandardVariableQuery"
                },
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "sort": 0,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            },
            {
                "allValue": ".*",
                "current": {
                    "selected": false,
                    "text": "All",
                    "value": "$__all"
                },
                "datasource": {
                    "uid": "${prometheusds}"
                },
                "definition": "label_values(up{juju_model=~\"$juju_model\",juju_model_uuid=~\"$juju_model_uuid\"},juju_application)",
                "hide": 0,
                "includeAll": true,
                "label": "Juju application",
                "multi": true,
                "name": "juju_application",
                "options": [],
                "query": {
                    "query": "label_values(up{juju_model=~\"$juju_model\",juju_model_uuid=~\"$juju_model_uuid\"},juju_application)",
                    "refId": "StandardVariableQuery"
                },
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "sort": 0,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            },
            {
                "allValue": ".*",
                "current": {
                    "selected": false,
                    "text": "All",
                    "value": "$__all"
                },
                "datasource": {
                    "uid": "${prometheusds}"
                },
                "definition": "label_values(up{juju_model=~\"$juju_model\"},juju_model_uuid)",
                "hide": 0,
                "includeAll": true,
                "label": "Juju model uuid",
                "multi": true,
                "name": "juju_model_uuid",
                "options": [],
                "query": {
                    "query": "label_values(up{juju_model=~\"$juju_model\"},juju_model_uuid)",
                    "refId": "StandardVariableQuery"
                },
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "sort": 0,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            },
            {
                "allValue": ".*",
                "current": {
                    "selected": false,
                    "text": "All",
                    "value": "$__all"
                },
                "datasource": {
                    "uid": "${prometheusds}"
                },
                "definition": "label_values(up,juju_model)",
                "hide": 0,
                "includeAll": true,
                "label": "Juju model",
                "multi": true,
                "name": "juju_model",
                "options": [],
                "query": {
                    "query": "label_values(up,juju_model)",
                    "refId": "StandardVariableQuery"
                },
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "sort": 0,
                "tagValuesQuery": "",
                "tags": [],
                "tagsQuery": "",
                "type": "query",
                "useTags": false
            },
            {
                "current": {},
                "hide": 0,
                "includeAll": false,
                "multi": false,
                "name": "prometheusds",
                "options": [],
                "query": "prometheus",
                "queryValue": "",
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "type": "datasource"
            },
            {
                "current": {},
                "hide": 0,
                "includeAll": false,
                "multi": false,
                "name": "lokids",
                "options": [],
                "query": "loki",
                "queryValue": "",
                "refresh": 1,
                "regex": "",
                "skipUrlSync": false,
                "type": "datasource"
            }
        ]
    },
    "time": {
        "from": "now-1h",
        "to": "now"
    },
    "timepicker": {
        "refresh_intervals": [
            "5s",
            "10s",
            "30s",
            "1m",
            "5m",
            "15m",
            "30m",
            "1h",
            "2h",
            "1d"
        ],
        "time_options": [
            "5m",
            "15m",
            "1h",
            "6h",
            "12h",
            "24h",
            "2d",
            "7d",
            "30d"
        ]
    },
    "timezone": "",
    "title": "Authentik Worker Operator Dashboard",
    "uid": "authentik-worker-dashboard",
    "version": 1,
    "weekStart": ""
}
